%li.comment
  .action{:style => 'float:right'}
    = message.messageable_type
  %span.date= message.created_at.to_s(:date)
  from
  %b= message.user ? message.user.display_name : 'System'
  to
  = pluralize(message.notifications.count, 'other')
  .description= raw add_breaks(message.body)
  