%div.message[message]
  - if message.user
    .image.small
      = image_tag message.user.avatar.url(:small)
  - if message.page || message.event
    .action{:style => 'float:right; margin-left: 1em'}
      - if message.page
        = link_to message.page.name, permalink_path(message.page.site.permalink, message.page.permalink)
      - if message.event
        #{link_to_function message.event.name, "Modalbox.show('#{site_event_path(message.event.site, message.event)}', {title: '#{message.event.name}', width: 460, overlayDuration:0.1, slideDownDuration:0.1}); return false;"} 
  .details
    %b= message.user ? message.user.display_name : 'System'
    %span.date= message.created_at.to_s(:date)
    .description
      = raw message.body
  