- @page_title = "Send a message"
= raw error_messages_for @message
%p
  %b Members:
  = @site.users.map{|u| u.email }.join(', ')
- if @site.invitations.any?
  %p
    %b Invited: 
    = @site.invitations.map{|i| i.email }.join(', ')
  
- form_for [@site, @page, @message] do |f|
  %p
    = f.label :body, "Your message"
    %br/
    = f.text_area 'body', { :style => 'width:600px', :rows => '4' }
  = submit_tag 'Send message'
  
- if @page
  = raw @page.content
