<% @page_title = "Send a message" %>
<%= raw error_messages_for @message %>
<p>
Send a message to the members of this site...
</p>

<% form_for [@site, @message] do |f| %>
	<table>
	<% for members_in_row in @site.users.not_deleted.in_groups_of(3) %>
		<tr>
		<% for member in members_in_row %>
			<td><% if member %> <%= check_box_tag 'message[user_ids][]', member.id, @message.users.not_deleted.include?(member.id.to_s) %> "<%= member.display_name %>" &lt;<%= member.email %>&gt; <% end %></td>
		<% end %>
		</tr>
	<% end %>
	</table>

	<p>
	Select: <%= link_to_function 'All', "$$('input[type=\"checkbox\"]').each( function(e){ e.checked = 1; } );"%> | <%= link_to_function 'None', "$$('input[type=\"checkbox\"]').each( function(e){ e.checked = 0; } );"%>
	</p>

	<p><label for="newsite_description">Subject</label><br/>
	<%= text_field 'message', 'subject', { :style => 'width:600px' }  %></p>

	<p><label for="newsite_description">Body</label><br/>
	<%= text_area 'message', 'body', { :style => 'width:600px', :rows => '8' }  %></p>
	<%= submit_tag 'Send message' %>
<% end %>
