<% form_for [@site, @membership] do |f| %>
<%= raw error_messages_for @membership %>
<%= hidden_field_tag 'site_id', @site.id %>
<ul class="form">
	<% if @membership.user && @membership.user.name.present? %>
	<li>
		<%= f.label :name %>
		<%= @membership.user.name %>
	</li>
	<% end %>
	<li>
		<%= f.label :email %>
		<% if @membership.new_record? %>
			<%= f.text_field :email %>
		<% else %>
			<%= @membership.user.email %>
		<% end %>
	</li>
	<li>
		<%= f.label :role_id %>
		<%= f.select :role_id, Role.all.map{|role| [role.name, role.id]} %>
	</li>
	<li class="indent">
		<%= f.submit button_value %>
	</li>
</ul>
<% end %>