%tr
  %td
    %strong #{membership.user.display_name} 
    %br
    #{membership.user.email}
    - if membership.user.phone.present?
      %br
      = membership.user.phone 
  %td
    = membership.role.name
  %td
    = link_to 'Edit', edit_site_membership_path(membership.site, membership)
    = link_to 'Remove', site_membership_path(membership.site, membership), :method => :delete, :confirm => 'Are you sure you want to remove this user?'
