- @page_title = 'Memberships'
- @breadcrumbs << @page_title
- @page_actions = capture do 
  = link_to("Invite one", new_site_invitation_path(@site))
  = link_to("Invite many", new_many_site_invitations_path(@site))

%p
  = link_to_unless_current('Members', site_memberships_path(@site))
  |
  = link_to_unless_current('Open Invitations', site_invitations_path(@site))
%table.grid
  %thead
    %tr
      %th User
      %th Role
      %th Actions
  %tbody
    = render @memberships
