- @page_title = 'New Member'

- if @site.members_only?
  %p
    This is a private group.  Only members are allowed.
    
%p
  To join this group, please enter your email address and the site's passcode.  You can get the passcode from the site administrator.
  
  
- form_for [@site, @membership] do |f|
  = raw error_messages_for @membership
  = hidden_field_tag 'site_id', @site.id
  %ul.form
    %li
      = f.label :passcode
      = f.text_field :passcode
    %li.indent
      = f.submit "Create Membership"