- @page_title = "Edit #{resource_name.to_s.humanize}"
:css
  ul.form label { width: 120px;}
  ul.form li.indent { padding-left: 123px;}

.shadow_box
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    = raw error_messages_for(resource)
    %ul.form
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :phone
        = f.text_field :phone
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :password, 'New Password'
        = f.password_field :password
        - if resource.last_sign_in_at
          %i (leave blank if you don't want to change it)
      %li
        = f.label :password_confirmation, 'Confirmation'
        = f.password_field :password_confirmation
      %li.indent= f.submit "Update"
