<% @page_title = 'Sign up' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= raw error_messages_for(resource) %>
	<ul class="form">
  <li><%= f.label :email %>
  <%= f.text_field :email %></li>

  <li><%= f.label :password %>
  <%= f.password_field :password %></li>

  <li><%= f.label :password_confirmation, 'Confirmation' %>
  <%= f.password_field :password_confirmation %></li>

  <li class="indent"><%= f.submit "Sign up" %></li>
	</ul>
<% end %>

<%= render :partial => "devise/shared/links" %>
