
%h3 
  Comments
  
- if current_user
  - form_for [@site, page, page.comments.build(:user_id => current_user.id)], :remote => true do |f|
    %ul.form
      = f.hidden_field 'page_id'
      %li
        %span.hint
          Logged in as #{current_user.display_name}
        %br/
        = f.text_area 'body'
      %li= submit_tag 'Add Comment', :id => "add_comment_button"
- else
  %p.hint
    = link_to 'Sign in', new_user_session_path
    to leave a comment

= render :partial => 'comments/comment', :collection => page.comments.all