- unless request.xhr?
  #comments
- if current_user
  - form_for [@site, page, page.comments.build(:user_id => current_user.id)], :remote => true do |f|
    %ul.form
      %h3.header Comments
      = f.hidden_field 'page_id'
      %li
        %span.hint
          Logged in as #{current_user.display_name}
        %br/
        = f.text_area 'body'
      %li= submit_tag 'Add Comment', :id => "add_comment_button"
- else
  %span.hint
    = link_to 'Sign in', signin_path
    to leave a comment
  %br/
= render :partial => 'comments/comment', :collection => page.comments.all
- unless request.xhr?
