<%- unless request.xhr? -%>
<div id="comments">
<%- end -%>
<% if current_user %>
	<% form_for [@site, page, page.comments.build(:user_id => current_user.id)], :remote => true do |f| %>
		<ul class="form">
			<h3 class="header">Comments</h3>
			<%= f.hidden_field 'page_id' %>
			<li>
				<span class="hint">Logged in as <%= current_user.display_name %></span><br />
				<%= f.text_area 'body' %>
			</li>
			<li><%= submit_tag 'Add Comment', :id => "add_comment_button" %></li>
		</ul>
	<% end %>
<% else %>
	<span class="hint"><%= link_to 'Sign in', signin_path %> to leave a comment</span><br />
<% end %>
<%= render :partial => 'comments/comment', :collection => page.comments.all %>
<%- unless request.xhr? -%>
</div>
<%- end -%>