<% @page_title = "#{@event.name}" %>

<% if current_user.can_edit?(@site) && !@event.new_record? %>
	<% @page_actions = raw [link_to('Edit', edit_site_event_path(@site, @event)), link_to('Delete', site_event_path(@site, @event), :method => :delete, :confirm => 'Are you sure?') ].join(' | ') %>
<% end %>

<% if @event.page %>
<ul class="callout">
	<li><b>Page</b>: <%= link_to @event.page.name, permalink_path(@site.permalink, @event.page.permalink) %></li>
</ul>
<% end %>

<p>
<%= @event.start_at.to_s(:date) %>
<% if @event.start_at < @event.end_at %> to <%= @event.end_at.to_s(:date) %><% end %>
</p>

<% if @event.remind_on %>
<p>
<%= @event.remind_on.to_s(:date) %>
</p>
<% end %>

<%= @event.description %>