- @page_title = "#{@page.name}"
- if current_user && current_user.can_edit?(@site) && !@page.new_record?
  - @page_actions = capture do 
    = link_to('Edit', edit_site_page_path(@site, @page))
    = link_to('Send Message', new_site_page_message_path(@site, @page))
- if @page && @page.attachments.any?
  %ul.callout
    %b Attachments
    %br
      - for attachment in @page.attachments
        %li= link_to attachment.document.name, download_site_document_path(@site, attachment.document)
- if @page && @page.events.think_about.any?
  %div{:style => 'float:right; width: 31%; margin-left: 1em'}
    = render :partial => 'events/upcoming_events', :locals => { :upcoming_events => @page.events.think_about }
  
.user_generated= raw @page.content

- if @page.comments_allowed?
  #comments
    = render 'comments/page_comments', :page => @page 