<p>
	<% if @site.events.remind_today.count != 1 %>
	There are upcoming events on <b><%= @site.name %></b><br>
	<% else %>
	An event is coming up for <b><%= @site.name %></b><br>
	<% end %>
	<% for event in @site.events.remind_today %>
		 <br><b><%= event.name %></b> is happening on <%= event.start_at.to_s(:date) %>
	<% end %>
</p>
<p style="font-size:.8em;color:gray">
Visit <%= link_to @site.name, permalink_url(@site.permalink, @site.home_page.try(:permalink)) %> online.<br>
</p>