%p
  = raw @message.body.add_breaks

- if @message.event
  %p This event takes place on #{@message.event.start_on.to_s(:date)}

- if @message.page
  %p Link to #{link_to(@message.page.name, permalink_url(@message.page.site.permalink, @message.page.permalink, :protocol => 'https://'))}
  -if @message.embed_page?
    %h3= @message.page.name  
    = raw @message.page.content  

= render 'site_footer'