%p
  = raw @message.body
- if @message.messageable
  - if @message.messageable.is_a? Page
    = raw @message.messageable.content
  - elsif @message.messageable.is_a? Event
    - event = @message.messageable
    %p This event takes place on #{event.start_on.to_s(:date)}
    - if event.description.present?
      %p= raw event.description
      
    
%p{:style => "font-size:.8em;color:gray"}
  Visit #{link_to @site.name, site_root_url(@site.permalink)} online.
  %br  