%p
  There are recent changes on
  %b= @site.name
  %br/
  - for entry in @site.log_entries.recent.uniq
    %br/
    %b= entry.user.display_name
    = entry.friendly_description
    %b
      - if entry.loggable.respond_to? :page
        = link_to_if entry.loggable.page.not_deleted, entry.loggable.page.name, permalink_url(entry.site.permalink, entry.loggable.page.permalink)
    - if entry.loggable.is_a?(Comment)
      %br
      %i= entry.loggable.body

- if @site.members_only?
  %p
    To become a member of the site, enter the passcode '#{@site.passcode}' when you visit the site.

%p{:style => "font-size:.8em;color:gray"}
    Visit #{link_to @site.name, site_root_url(@site.permalink)} online.
  %br/