var tinyMCEImageList = new Array(
- comma = ''
- for photo in @photos
  = comma
  ["#{photo.name.truncate(30)} (M)", "#{photo.file.url :medium}"],["#{photo.name.truncate(30)} (L)", "#{photo.file.url :large}"]
  - comma = ','
);
