%tr{:class => cycle('even', 'odd')}
  %td= link_to user.display_name, admin_user_path(user)
  %td= user.email
  %td{:style => "text-align:center"}= user.created_at.to_s(:tiny_date)
  %td{:style => "text-align:right"}= user.sign_in_count
  %td{:style => "text-align:center"}= 'Yes' if user.admin?
  %td= raw user.sites.not_deleted.map{|site| link_to( site.name, permalink_path(site.permalink, site.home_page.try(:permalink))) }.join(', ')
