<% @page_title = 'Free Teacher Websites | The Kid Report' %>
<table class="framework"><tr><td class="left" style="width:61%">
  <div class="shadow_box">
    <h1 class="headline">Websites for Teachers Coaches and Parents</h1>
    <p style="text-align:center; font-size: 1.2em; margin-bottom:10px; color: #666">
      Free, Non-profit, No ads, Grant funded
    </p>
  	<p style="text-align:center; font-size: 1.2em; margin-bottom:20px">Share information with the parents. They’ll love it.
  	  <br>
      Create pages, post a schedule.  Parents are emailed automatically.
      <br>
      It’s not too complicated, it's just what you need.
    </p>

  	<% if user_signed_in? && current_user.sites.not_deleted.any? %>
  		
		  <div class="chevron">
			  <h4>Your Site<%= 's' if current_user.sites.not_deleted.count > 1 %></h4>
			</div>
			<ul>
			<% for site in current_user.sites.not_deleted %>
				<li class="site" style="background:#<%= site.highlight_color %>">
				  <div class="info">
				    <%= pluralize site.pages.count, 'page' %>, <%= pluralize site.memberships.count, 'member' %><br>
				    Updated: <%= site.last_edited_at.to_s(:short) %>
				  </div>
				  <%= link_to site.name, permalink_path(site.permalink, site.home_page.try(:permalink)) %><br>
					<%= site.description %>
				</li>
			<% end %>
			</ul>
  	<% else %>
			<div class="chevron">
			  <h4>Easy to Use</h4>
			</div>
    	<ul style="display: inline-block; vertical-align: middle; font-size: 1.2em; width: 27%" class="bullets">
    		  <li>Create pages</li>
    		  <li>Schedule Events</li>
    		  <li>Send E-Mail</li>
    		  <li>Attach Documents</li>
    		  <li><%= link_to 'Take our tour', :action => :tour %></li>
    	</ul>
     	<div style="display: inline-block; vertical-align: middle; text-align:center">
    		<%= image_tag 'screen_shot.png' %>
    		<p style="margin:0">It's easy to create and edit pages</p>
    	</div>    	
  	<% end %>

		<% if current_user.admin? %>
			<p>
			<b>Admin tools</b><br>
			<%= link_to 'Users', admin_users_path %>,	<%= link_to 'Sites', admin_sites_path %>
			</p>
		<% end %>
	</div>
</td><td class="right">
  <div class="shadow_box">
		<div class="chevron">
		  <h4>Inform Parents</h4>
		</div>
		
   	<div style="text-align: center">
  		<%= image_tag 'kids.png' %>
  	</div>
  	<p class="poetry">
  	Use the Kid Report to share information
    with parents in your classroom, troop, team, or group.
    </p>
  </div>

  <p>
		<%= link_to 'Create a Site', new_site_path, :class => :primary_action %>
	</p>

</td></tr></table>