<table class="framework"><tr><td class="left" style="vertical-align:middle; width:45%">
	<p>
		The Kid Report has simple-to-use tools to create pages, add members, send messages, and attach documents.
	</p>
	<div style="text-align:center">
		<%= image_tag 'screen_shot.png' %>
	</div>
	<% if user_signed_in? %>
		<% if current_user.sites.any? %>
			<ul>
				<h3>Your Site<%= 's' if current_user.sites.count > 1 %></h3>
			<% for site in current_user.sites %>
				<li><%= link_to site.name, permalink_path(site.permalink, site.home_page.try(:permalink)) %></li>
			<% end %>
			</ul>
		<% end %>
	<% else %>
		<h2>Parents</h2>
		<p><%= link_to 'Sign in', new_user_session_path %> if your just getting started.</p>
		<p><%= link_to 'Have your password mailed to you', new_user_password_path %>  if your teacher already added you.</p>
	<% end %>
</td><td class="right">

<div class="isolate">
<h2 class="headline">Websites for Teachers and Parents</h2>
<p>Teachers and parents can share information with the entire classroom quickly.</p>
<p>Many members can update the site - it's easy to maintain and keep up-to-date.</p>
<p>It's <strong>simple</strong>, <strong>easy</strong> to use, and <strong>free and no ads.</strong></p>
<p>
	<%= link_to 'Create a site', new_site_path %>
</p>
</div>
</td></tr></table>