- @page_title = 'The Kid Report - Private Parent Teacher Networks'
%table.framework
  %tr
    %td.left{:style => "width:61%"}
      .shadow_box
        %h1.headline Private Parent Teacher Networks
          
        %p{:style => "text-align:center; font-size: 1.2em; margin-bottom:30px"}
          Share information with other parents.  
          %br
          Keep your documents and schedule in one place.
          %br
          Reach parents easily by email.
        - if user_signed_in? && current_user.sites.not_deleted.any?
          .chevron
            %h4
              Your Site#{'s' if current_user.sites.not_deleted.count > 1}
          %ul
            - for site in current_user.sites.not_deleted.order('last_edited_at desc')
              %li.site
                .info
                  = pluralize site.pages.count, 'page'
                  , #{pluralize site.memberships.count, 'member'}
                %h3= link_to site.name, site_root_path(site.permalink)
                %p
                  = site.description
                %p  
                  %strong #{site.last_edited_at.to_s(:date)}
                  %br
                  - log_entry = site.log_entries.last
                  = log_entry.user.display_name
                  = log_entry.friendly_description
                  - if log_entry.loggable.respond_to? :page
                    = link_to_if (log_entry.loggable.page.not_deleted), log_entry.loggable.page.name, permalink_path(site.permalink, log_entry.loggable.page.permalink)

                  - if log_entry.loggable.is_a?(Comment)
                    %br
                    %span.comment= log_entry.loggable.body
                - if site.events.coming_up.any?  
                  = render :partial => 'events/upcoming_events', :locals => { :upcoming_events => site.events.coming_up }
          - if Event.for_user(current_user).any? && current_user.admin?
            = link_to 'Subscribe to calendar feed', feed_events_url(:format => :ics, :protocol => 'webcal', :token => current_user.authentication_token)
        - else
          .chevron
            %h4 Easy to Use
          %ul.bullets{:style => "display: inline-block; vertical-align: middle; font-size: 1.2em; width: 27%"}
            %li Create pages
            %li Schedule Events
            %li Send E-Mail
            %li Attach Documents
            %li= link_to 'Take our tour', :action => :tour
          %div{:style => "display: inline-block; vertical-align: middle; text-align:center"}
            = image_tag 'screen_shot.png'
            %p{:style => "margin:0"} It's easy to create and edit pages

      .shadow_box
        .chevron
          %h4 Parent Involvement
        = image_tag('mother-daughter.jpg', :style => 'float:right; margin-left:1em; margin-bottom: 1em;', :class => 'framed' )
        %p
          Many studies have shown that Parent Involvement is one of the most important elements to a child's success in school and extracurricular activities. More important than teacher salaries, more important than class size and more important than technology.
        %p  
          Parent involvement helps students in many levels.  Research has shown that students have higher grades, higher standardized test scores, better social skills and improved behavior at school as well as at home when parents are involved.
        %p
          As parents, we all want to be involved, but it's tough to find the time.  We don't know how to help at home necessarily, and we don't know what other opportunities exist to help support the class. 
        %p
          The Kid Report offers free websites and tools for teachers to engage parents, start a conversation and encourage their involvement.
          
          
    %td.right
      - if @example
        .shadow_box
          .chevron
            %h4 Example Site
          - if @example.logo_file_name.present? 
            #logo.image= link_to image_tag(@example.logo(:original), :class => :framed), site_root_path(@example.permalink)
          - else
            #logo.text= link_to_unless_current @example.name, site_root_path(@example.permalink)
          %p{:style => 'text-align:center'}
            Take a look at our #{ link_to 'example site', site_root_path(@example.permalink) }
      .shadow_box
        .chevron
          %h4 Inform Parents
        %div{:style => "text-align: center"}
          = image_tag 'kids.png', :class => :framed
        %p.poetry
          Informed parents are engaged and involved.
      - if user_signed_in? && current_user.admin?
        .shadow_box
          .chevron
            %h4 Admin Tools
          %p
            = link_to 'Users', admin_users_path
            = User.count
          %ul
            - for user in @recent_users
              %li= user.email
          %p
            = link_to 'Sites', admin_sites_path
            = Site.count
          %ul
            - for site in @recent_sites
              %li= link_to site.name, site_root_path(site.permalink)
      %p
        = link_to 'Create a Site', new_site_path, :class => :primary_action
