<% @page_title = 'Free Teacher Websites | The Kid Report' %>
<table class="framework"><tr><td class="left" style="vertical-align:middle; width:45%">
	<p>
		The Kid Report has tools to create pages, add members, send notifications, and attach documents.
	</p>
	<div style="text-align:center">
		<%= image_tag 'screen_shot.png' %>
	</div>
	<% if user_signed_in? %>
		<% if current_user.sites.not_deleted.any? %>
			<ul>
				<h4>Your Site<%= 's' if current_user.sites.not_deleted.count > 1 %></h4>
			<% for site in current_user.sites.not_deleted %>
				<li class="site" style="background:#<%= site.highlight_color %>"><%= link_to site.name, permalink_path(site.permalink, site.home_page.try(:permalink)) %><br>
					<%= site.description %>
				</li>
			<% end %>
			</ul>
		<% else %>
			<p>
				<b>Parents</b><br>
				If you are already a member of a site, <%= link_to 'sign in', new_user_session_path, :rel => 'nofollow' %>.  If you are not yet a member, have the teacher send you an invitation.</p>
		<% end %>
		<% if current_user.admin? %>
			<p>
			<b>Admin tools</b><br>
			<%= link_to 'Users', admin_users_path %>,	<%= link_to 'Sites', admin_sites_path %>
			</p>
		<% end %>
	<% else %>
		<p><b>Parents</b><br>
		If you are already a member of a site, <%= link_to 'sign in', new_user_session_path, :rel => 'nofollow' %>.  If you are not yet a member, have the teacher send you an invitation.</p>
	<% end %>
</td><td class="right">

<div class="isolate">
<h2 class="headline">Websites for Teachers and Parents</h2>
	<p>Teachers can share information with the entire classroom easily.</p>
	<p>Parents can get the information they need when they need it.</p>
	<p>It's <strong>Private</strong>, <strong>Simple</strong>, <strong>Free</strong> and there are <strong>No ads</strong></p>
	<p>
		<%= link_to 'Create a site', new_site_path %>
	</p>
</div>
<p>
<b>The Kid Report's Mission</b><br>
The Kid Report is a not-for-profit effort to help teachers and parents work together.  It's free and specifically designed for schools and other educational organizations to be effective and simple-to-use.
</p>
</td></tr></table>