- simple_form_for @site, :html => {:multipart => true} do |f|
  = error_messages_for @site
  %ul.form
    %li= f.input :name, :input_html => {:size => 20}, :label => 'Site name'
    %li= f.input :description, :size => 40
    %li= f.input :time_zone, :preference => /US/
    %li= f.input :footer, :as => :string, :size => 40
      
  - unless @site.new_record?
    %ul.form
      %li= f.input :passcode, :input_html => {:size => 20}, :hint => "The secret code required to join the site"
      %li.indent= f.input :members_only, :label => 'The site is private.  Only members are allowed in.', :as => :boolean
      
    %ul.form
      %li.indent= f.input :auto_message, :label => 'Notify members automatically when the site is updated', :as => :boolean
      
      
    %ul.form
      %li= f.input :logo
      %li= f.input :background, :label => 'BG image'
      %li.indent= f.input :background_repeat, :label => "Background image repeats"
      %li
        = f.label :background_color, :label => 'BG color'
        = raw f.picky_color :background_color
      %li
        = f.label :highlight_color, 'Highlight'
        = raw f.picky_color :highlight_color
      %li
        = f.label :body_color, 'Body'
        = raw f.picky_color :body_color
      %li
        = f.label :font_color, 'Font'
        = raw f.picky_color :font_color
      %li
        = f.label :link_color, 'Link'
        = raw f.picky_color :link_color
  %ul.form
    %li.indent
      = f.submit button_value
