<% form_for @site, :html => {:multipart => true} do |f| %>
	<%= error_messages_for @site %>
	<ul class="form">
		<li>
			<%= f.label :name, 'Site name'  %>
			<%= f.text_field :name, :size => 20  %>
		</li>
		
		<li>
			<%= f.label :description  %>
			<%= f.text_field :description, :size => 40  %>
		</li>
		<li>
			<%= f.label :time_zone %>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
		</li>
		
		<li>
			<%= f.label :footer, 'Footer'  %>
			<%= f.text_field :footer, :size => 40  %>
		</li>
	<% unless @site.new_record? %>
			<li>
				<%= f.label :logo  %>
				<%= f.file_field :logo  %>
			</li>
			<li>
				<%= f.label :background_color, 'Background'  %>
				<%= raw f.picky_color :background_color  %>
			</li>
			<li>
				<%= f.label :highlight_color, 'Highlight'  %>
				<%= raw f.picky_color :highlight_color  %>
			</li>
			<li>
				<%= f.label :body_color, 'Body'  %>
				<%= raw f.picky_color :body_color  %>
			</li>
			<li>
				<%= f.label :font_color, 'Font'  %>
				<%= raw f.picky_color :font_color  %>
			</li>
			<li>
				<%= f.label :link_color, 'Link'  %>
				<%= raw f.picky_color :link_color  %>
			</li>
	<% end %>
		
		<li class="indent">
			<%= f.submit button_value %>
		</li>
	
		</ul>

<% end %>