- @page_title = "Front page"
- if current_user && current_user.can_edit?(@site)
  - @page_actions = link_to 'Edit Front Page', edit_top_story_site_path(@site)

%table.framework
  %tr
    %td.left.wide
      - if @site.top_story.present?
        #top_story
          %h1.header.highlight_colored
            Top Story
          .user_generated= raw @site.top_story
      = raw event_calendar(:link_to_day_action => nil)

      - if @site.comments.any?
        %h3 Recent Comments
        .contacts
          = render :partial => 'comments/comment', :collection => @site.comments.order('created_at desc').limit(5)
      %h3 Recent Edits
      %ul.tight
        - for log_entry in @site.log_entries.page_update.order('created_at desc').limit(10).uniq
          %li
            %span.date  
              = log_entry.created_at.to_s(:date)
            = log_entry.user.display_name
            = log_entry.friendly_description
            = link_to log_entry.loggable.try(:page).try(:name), permalink_path(@site.permalink, log_entry.loggable.try(:page).try(:permalink)) if log_entry.loggable.try(:page)

            
    %td.right.thin
      %h3 Contacts
      %ul.contacts.tight
        - for user in @site.users
          %li
            - if user.name.present?
              .name= user.name
            - if user.phone.present?
              .phone= user.phone
            .email= mail_to user.email, user.email