- @page_title = "Front page"
- if current_user && current_user.can_edit?(@site)
  - @page_actions = capture do 
    = link_to 'Edit Top Story', edit_top_story_site_path(@site)
    = link_to 'Send Message', new_site_message_path(@site)

%table.framework
  %tr
    %td.left.wide
      - if @site.top_story.present?
        #top_story
          .user_generated= raw @site.top_story

      - if @site.messages.any?
        %h3 Recent Messages
        %ul
          = render :partial => 'messages/message', :collection => @site.messages.order('created_at desc').limit(5)
      %h3 Recent Edits
      %ul.tight
        - for log_entry in @site.log_entries.page_update.order('created_at desc').limit(10).uniq
          %li
            %span.date  
              = log_entry.created_at.to_s(:date)
            = log_entry.user.display_name
            = log_entry.friendly_description
            - if log_entry.loggable.respond_to?(:page)
              = link_to log_entry.loggable.try(:page).try(:name), permalink_path(@site.permalink, log_entry.loggable.try(:page).try(:permalink)) if log_entry.loggable.try(:page)
            
    %td.right.thin
      = render :partial => 'events/upcoming_events', :locals => { :upcoming_events => @site.events.think_about }
      - if @site.display_contact_list? 
        %h3 Contacts
        %ul.contacts.tight
          - for user in @site.users
            %li
              - if user.name.present?
                .name= user.name
              - if user.phone.present?
                .phone= user.phone
              .email= mail_to user.email, user.email
          - for invitation in @site.invitations
            %li
              .email= mail_to invitation.email, invitation.email