- @page_title = @site.name
- if current_user && current_user.can_edit?(@site)
  - @page_actions = capture do 
    = link_to 'Edit Top Story', edit_top_story_site_path(@site)
    = link_to 'Send Message', new_site_message_path(@site)

%table.framework
  %tr
    %td.left.wide
    
      - if @site.top_story.present?
        #top_story
          .user_generated= raw @site.top_story

      #messages
        %h3 
          Messages
        = render 'messages/messages', :site => @site,  :page => nil, :messages => @site.messages

    %td.right.thin
      - if @site.events.think_about.any?
        %h2 Events
        = render :partial => 'events/upcoming_events', :locals => { :upcoming_events => @site.events.think_about }
        = image_tag('icons/ics.gif', :style => 'vertical-align:middle')
        = link_to 'Subscribe to calendar feed', feed_site_events_url(@site, :format => :ics, :protocol => 'webcal', :token => (@site.members_only? ? current_user.try(:authentication_token) : nil))
          
      - if @site.documents.any?  
        #documents
          %h2 Documents
          %table.grid 
            %thead
              %tr
                %th Name
                %th{:style => 'width:30%'} Date
            
          .scroll
            %table.grid 
              %tbody
                - for document in @site.documents.order('lower(file_file_name)')
                  %tr
                    %td
                      = link_to document.name, download_site_document_path(@site, document), :title => document.name
                    %td{:style => 'width:25%'}
                      = document.updated_at.to_s(:tiny_date)
                      
      - if @site.display_contact_list? 
        #contacts
          %h2 Contacts
          %ul.contacts.tight.scroll
            - for user in @site.users.order(:name)
              %li
                - if user.name.present?
                  .name= user.name
                - if user.phone.present?
                  .phone= user.phone
                .email= mail_to user.email, user.email
            - for invitation in @site.invitations.order(:email)
              %li
                .email= mail_to invitation.email, invitation.email