<% unless pages.nil? %><div class="list_header">	
	<% if pages.length > 1 %>
		<div class="list_paging">
		<%= link_to_unless( !pages.current.previous, '&#171;',
		     :overwrite_params => { :page => pages.first } ) %> |
		<% if pages.length > 2 %>
			<% page_start = [(pages.current.number - 3), 1].max %>
			<% page_end = [pages.last.number, (pages.current.number + 3)].min %>
			<% for i in page_start..page_end %>
			  	<%= link_to(i, :overwrite_params => { :page => i } ) if (i != pages.current.number) %>
				<%= "<span id='current_page'>#{i}</span>" if (i == pages.current.number)  %> |
			<% end -%>
		<% end %>
		<%= link_to_unless( !pages.current.next, '&#187;',
		     :overwrite_params => { :page => pages.last } ) %>
		</div>
	<% end %>
	<div class="list_status">
		<% if pages.item_count == 0 %>
			No results found.
		<% else %>
			Displaying <%= pages.current_page.first_item %> - <%= pages.current_page.last_item %>
			of <%= pages.item_count %>
		<% end %>
	</div>
</div>
<% end %>