%tr{:class => cycle('even', 'odd')}
  %td
    = link_to site.name, permalink_path(site.permalink)
    %br= site.description
  %td= raw site.admins.map{|a| link_to(a.display_name, admin_user_path(a)) }.join(', ')
  %td= site.pages.not_deleted.count
  %td= site.users.not_deleted.count
  %td= site.last_edited_at.to_s(:pretty) if site.last_edited_at
